<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranscryptBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TranscryptBot.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
        </TranscryptBot.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlcServiceSoapBinding" />
        <binding name="TranscryptServiceApiBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:10:00" maxBufferPoolSize="2147483647">
          <security mode="Transport" />
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.tcrypt.ru/TranscryptApi.svc?wsdl"
                binding="basicHttpBinding"
                bindingConfiguration="TranscryptServiceApiBinding"
                contract="TranscryptApi.ITranscryptApiDictionary"
                name="TranscryptServiceApi"/>
    </client>
  </system.serviceModel>
</configuration>